#main{
    width: 100vw;
    height: 20vh;
    border : 2px solid black;

    display: flex;
}

#logo{
    height: 10vh;
    width: 40%;
    background-color: aqua;
}

#detail{
    width: 60%;
    background-color: aquamarine;
    border: 2px solid black;
}